html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar {
    background-color: #333;
    height: 40px;
    width: 100%; /* 确保 topbar 的宽度为 100% */
}
.wrap{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
h2 {
    color: #5d513c;
}
/*顶部导航样式start*/
.navigation {
    margin-top: 10px;
    width: 100%; /* 宽度为 100% */
    display: flex;
    justify-content: space-between;
    color: white;
}
.logo img {
    width: 120px; 
    height: auto; 
}
.logo2 img {
    width: 320px;
    border-radius: 5px; /* 让图片的边角稍微圆润 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* 添加阴影效果 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加动画效果，鼠标悬停时变换 */
}

.logo2 img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 30px rgba(0, 0, 0, 0.35); /* 增强悬停时的阴影效果 */
}
.nav-wrap{
    height: 90px;
    padding-top: 2px;
}
.title {
    margin-top: 10px;
    font-size: 2.5em;
    color: #8c4356;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.navigation .logo {
    font-size: 1.5em;
}
.nav-links {
    padding-top: 15px;
    padding-right: 10px;
    list-style: none;
    display: flex;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s; 
    font-size: 1.5em;
    
}
.nav-links a:hover {
    color: #ff4500; /* 橘红色 */
    text-decoration: underline;
}
/*顶部导航样式end*/

/* banner start */
.banner {
    width: 1300px;
    height: 650px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.left-b {
    width: 880px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-b {
    width: 400px;
    height: 585px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    overflow: hidden;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.dairy {
    width: 348px;
    height: 120px;
    color: #789262;
    text-align: center;
    padding: 10px;
}

.video-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.video-header button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #c2ccd0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.video-header button:hover,
.video-header button.active {
    background-color: #789262;
}

.vid-con {
    width: 400px;
    height: 400px; /* 调整视频窗口大小 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-con video {
    width: 350px;
    height: 350px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-wrapper {
    width: 100%;
    height: 585px;
}
.slider-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.slider-footer {
    height: 65px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.slider-footer .toggle {
    position: absolute;
    top: 260px;
    width: 100%;
    display: flex;  
    justify-content: space-between;
}
.slider-footer .toggle button {
    margin-right: 5px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #c2ccd0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
}
.slider-footer .toggle button:hover {
    background: #c7fff6;
}
.slider-footer p {
    margin-top: 5px;
    color: #9d2933;
    font-size: 18px;
    margin-bottom: 5px;
}
.slider-indicator {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.slider-indicator li {
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background:  #808080;
    opacity:  0.4;
    cursor: pointer;
}
.slider-indicator li.active {
    width: 12px;
    height: 12px;
    opacity: 1;
}

/* banner end */

/* Artists Community样式 start */
.comm {
    width: 1300px;
    margin: 0 auto; 
}

.comm h2 {
    margin-bottom: 10px;
}

.comm hr {
    margin-bottom: 20px;
}
.co-contain {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.co-intro {
    grid-column: 1 / span 1; /*占据第一列*/
    position: relative; /*确保子元素的绝对定位是相对的*/;
}
.photo-scroll {
    width: 100%; /*确保宽度不超出父容器*/
    height: 170px;
    overflow: hidden; /* 隐藏超出部分*/ 
    display: flex;
    align-items: center;;
    position: relative; /*确保子元素的绝对定位是相对的*/
}
.scroll-content {
    display: flex;
    width: 200%;  /* 设为两倍内容的宽度，确保无缝连接 */
    animation: scroll 30s linear infinite;
    position: absolute; /*绝对定位，确保在父容器中滚动*/
    left: 0; /* 从父容器的左边开始*/
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* 滚动到一半的宽度，确保循环无缝 */
    }
}
.intro-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
}
.artist-photo {
    flex: 0 0  auto; 
    width: 143px;
    height: 163px;
    margin-right: 10px;
}
.intro-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-indent: 2em;
    color: #808080;
}
.artist-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ar-sec {
    text-align: center;
    grid-column: 2 / span 1;  /*占据第二列*/;
}
.ar-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;

}
.ar-names {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center
    
}
.ar-names a {
    margin-bottom: 5px;
    font-size: 16px;
    text-decoration: none;
    color:#333;
}
.ar-names a:hover {
    text-decoration: underline;
    color: #ff4500; /* 橘红色 */
}
/* Artists Community样式 end*/

/* 卡片部分样式 */
.card-section {
    padding: 20px;
}

.ex-container {
    width: 1300px;
    margin: 0 auto; 
}

.card-section h2 {
    margin-bottom: 10px;
}

.card-section hr {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    justify-items: center; 
}

.link-no-decoration {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 426.7px;
    height: 440px;
    padding-top: 10px;
    text-align: center;
    position: relative; /* 为了绝对定位大图片 */
    overflow: visible;
}
.im-c {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center; /* 水平方向居中 */
    align-items: center; /* 垂直方向居中 */
}
/* .im-c img {
    width: 405px;
    height: 351px;
    object-fit: contain;
} */
#ex-1 {
    width: 403px;
    height: 324px;
}
#ex-2 {
    width: 140px;
    height: 351px;
}
#ex-3 {
    width: 405px;
    height: 332px;
}
#ex-4 {
    width: 405px;
    height: 281px;
}
#ex-5 {
    width: 405px;
    height: 340px;
}
#ex-6 {
    width: 405px;
    height: 330px;
}
#ex-7 {
    width: 345px;
    height: 351px;
}
#ex-8 {
    width: 300px;
    height: 351px;
}
#ex-9 {
    width: 354px;
    height: 351px;
}
#ex-10 {
    width: 405px;
    height: 319px;
}
#ex-11 {
    width: 405px;
    height: 319px;
}
#ex-12{
    width: 356px;
    height: 349px;
}
#ex-13 {
    width: 347px;
    height: 351px;
}
#ex-14 {
    width: 281px;
    height: 351px;
}
#ex-15 {
    width: 405px;
    height: 230px;
}
#ex-16{
    width: 405px;
    height: 313px;
}
#ex-17{
    width: 253px;
    height: 351px;
}
#ex-18 {
    width: 405px;
    height: 283px;
}
#ex-19 {
    width: 336px;
    height: 351px;
}
#ex-20{
    width: 358px;
    height: 351px;
}
#ex-21 {
    width: 405px;
    height: 338px;
}
#ex-22 {
    width: 405px;
    height: 278px;
}
#ex-23 {
    width: 250px;
    height: 351px;
}
#ex-24 {
    width: 259px;
    height: 351px;
}
#ex-25 {
    width: 348px;
    height: 351px;
}
#ex-26 {
    width: 345px;
    height: 351px;
}
#ex-27 {
    width: 405px;
    height: 324px;
}
#ex-28 {
    width: 405px;
    height: 261px;
}
#ex-29 {
    width: 405px;
    height: 309px;
}
#ex-30 {
    width: 405px;
    height: 304px;
}
#ex-31 {
    width: 382px;
    height: 351px;
}
#ex-32 {
    width: 348px;
    height: 351px;
}
#ex-33 {
    width: 403px;
    height: 278px;
}
#ex-34 {
    width: 405px;
    height: 330px;
}
#ex-35 {
    width: 405px;
    height: 309px;
}
#ex-36 {
    width: 401px;
    height: 348px;
}
.card img {
    transition: all 0.2s linear;
    cursor: pointer;
}

.card img:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.card .large-image {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.0);
    max-width: 90%; /* 最大宽度不超过视口宽度的90% */
    max-height: 90vh; /* 最大高度不超过视口高度的90% */
    object-fit: contain; /* 保持长宽比显示图片，完全包含在容器内 */
    display: none; /* 默认隐藏 */
    z-index: 10; /* 让大图片在最上层 */
}

.card .small-image {
    z-index: 1; /* 让小图片在大图片下层 */
}

.painting-title {
    width: 214px;
    height: 21px;
    color: #333;
    line-height: 21px;
    margin: 0 auto 2px;
}

.painting-size {
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 10px;
}

.painting-price {
    color: #ff6700;
    font-size: 14px;
}
/* 卡片部分样式 */


/* cards内轮播图样式 start */
.carousel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Initially hidden */
}
.carousel-overlay.active {
    visibility: visible;
}

.carousel {
    position: relative;
    width: 678px;
    height: 878px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-content {
    position: relative;
    width: 678px;
    height: 878px;
    padding: 20px;
    transition: transform 0.5s ease;
    background-color: white;
    border-radius: 1%;
}

.carousel-image {
    width: 100%;
    height: 80%;
    object-fit: contain; 
    object-position: center; 
}

.carousel-text {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.inquire {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #6b6882;
    color: white;
    border: none;
    cursor: pointer;
}
.inquire:hover {
    background-color: #003472;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(190, 190, 190, 0.7);
    color: black;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1001;
    font-size: 32px; /* 修改字体大小 */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}

button.prev {
    left: -450px;
}

button.next {
    right: -450px;
}
/* cards内轮播图样式 end */

/* 右侧电梯样式 start */
.elevator {
    position: fixed;
    left:50%;
    top: 400px;
    margin-left: 670px;
    opacity: 0;
    transition: all .5s;
}
.elevator-list a{
     text-decoration: none;
     color: white;
     background-color: #789262; 
     height: 55px;
     width: 88px;
     display: block;
     margin: 10px;
     text-align: center;
     display: flex;
     flex-direction: column; /* 使图标和文字垂直排列 */
     align-items: center; 
     justify-content: center;
     border-radius: 2px; 
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
     transition: all 0.3s ease;  
}
.elevator-list a:hover {
    background-color: #1685a9; /* 悬停时的背景颜色 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 悬停时的阴影效果 */
}
.elevator-list li{
    list-style-type: none;
}
/* 电梯样式 end */


/* 页脚样式 */
footer {
    padding: 20px;
    background-color: #bbcdc5;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content .links {
    display: flex;
    flex-direction: column;
}

.footer-content .links a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

/* 响应式布局 */
@media (max-width: 900px) {
    .navigation,
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        flex-direction: column; /* 竖着排列 */
        align-items: center; /* 居中对齐 */
        width: 100%; /* 宽度为 100% */
        padding: 0; /* 去掉内边距 */
        margin: 0; /* 去掉外边距 */   
        position: absolute; 
        top: 40%; /* 位置在导航栏下方 */
        left: 50%;
        transform: translateX(-20%)   
    }
    .wrap{
        width: 100%;
    }
    .nav-links li {
        margin: 5px 0; /* 垂直间距 */
    }
    .nav-links a {
        display: block;
        font-size: 1em;
        width: 84px;
        height: 22px;
        background-color:  #827100;
        color: aliceblue;
        text-align: center;
    }
    .cards {
        grid-template-columns: 1fr; /* 小屏幕时单列布局 */
    }
    .card {
        width: 90%;
        margin: 5px 0;
    }
    .painting-title,
    .painting-size {
        width: 100%;
    }
    .card:hover .large-image {
        display: none !important; /* 小屏幕时禁用悬停显示 */
    }
    
}

